.navbar-brand {
    color: black;
    font-family: 'Prata', sans-serif;
    font-size: 35px;
}

.navbar-brand:hover {
    color: grey;
}


#title {
    text-align: center;
    margin: auto;
    float: right;
}

.nav-link {
    color: #333333;
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
}

.nav-link:hover {
    color: #a9a9a9;
}

.nav-link:active {
    border-bottom: 3px solid black;
}

.navbar {
    background: white;
}

.container {
    padding: 10px
}

#img {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#img_container:hover #img{
  opacity: 0.3;
}

#header {
    padding: 2px;
    border-bottom: 1px solid #333;
    background-color: #fff;
}

#footer {
    padding: 1px;
    border-top: 1px solid #333;
    background-color: white;
}

#footer_text {
    font-size: 14px;
    color:black;
    font-family: 'Cormorant Garamond', serif;
}

h5 {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Cormorant Garamond', serif;
    color: #a9a9a9
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 10px;
  }
  
  .column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
