<div class="container">
    <div class="row">
        <div class="column">
            <div id="img_container"><img src="images/gurl.jpg" id="img"></div>
            <div id="img_container"><img src="images/daisy_sketch.jpg" id="img"></div>
            <div id="img_container"><img src="images/leaves.jpg" id="img"></div>
            <div id="img_container"><img src="images/thinking.jpg" id="img"></div>
        </div>
        <div class="column">
            <div id="img_container"><img src="images/iguana.jpg" id="img"></div>
            <div id="img_container"><img src="images/gofuckyourself.jpg" id="img"></div>
            <div id="img_container"><img src="images/welcome_img_cropped.jpeg" id="img"></div>
            <div id="img_container"><img src="images/viper.jpg" id="img"></div>
        </div>
    </div>
</div>