<div class="container">
    <div class="row">
        <div class="column">
            <img src="images/gurl.jpg">
            <img src="images/daisy_sketch.jpg">
            <img src="images/leaves.jpg">
            <img src="images/thinking.jpg">
        </div>
        <div class="column">
            <img src="images/iguana.jpg">
            <img src="images/gofuckyourself.jpg">
            <img src="images/welcome_img_cropped.jpeg">
            <img src="images/viper.jpg">
        </div>
    </div>
</div>