{% extends "index.html" %}

{% block content %}
<div id="data-page">
    <div class="row" id="viz_row">
        <div class="col-4 my-auto">
            <h2>Business Scorecard</h2>
            <h5>The Business Performance Scorecard is a great way for the leadership team to understand how their business is performing against their company goals.</h5>
        </div>
        <div class="col-8">
            <div id="img_container">
                <a href="https://public.tableau.com/profile/ashlyn.opgrande#!/vizhome/BusinessPerformanceScorecard/GTMScorecard">
                    <img src="{{ url_for('static', filename='vizzes/scorecard_jpg.jpeg') }}" class="img-fluid" alt="Responsive image" id="img">
                </a>
            </div>
        </div>
    </div>
    <div class="row" id="viz_row">
        <div class="col-4 my-auto">
            <h2>Customer Success Monitor</h2>
            <h5>The Customer Health Dashboard is designed to help a customer success rep understand the health of their customers across a variety of metrics</h5>
        </div>
        <div class="col-8">
            <div id="img_container">
                <a href="https://public.tableau.com/profile/ashlyn.opgrande#!/vizhome/customer_product_usage_dash/CustomerHealthMonitor">
                    <img src="{{ url_for('static', filename='vizzes/cust_performance_image.png') }}" class="img-fluid" alt="Responsive image" id="img">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}