<!doctype html>

<html lang="en" ng-app="PortfolioApp" class="ng-scope">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lexend+Peta&family=Martel:wght@200&Cormorant+Garamond:wght@300&family=Prata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap" rel="stylesheet">

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

        <!-- FavIcon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">

        <title>ashlynroseopgrande.com</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md sticky-top" id='header'>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('artwork') }}">Artwork</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('design') }}">Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('data') }}">Analytics</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto">
                <a class="navbar-brand mx-auto" href="{{ url_for('index') }}">A S H L Y N &nbsp; R O S E &nbsp; O P G R A N D E</a>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <nav class="navbar navbar-expand-md sticky-bottom" id='footer'>
            <div class="mx-auto">
                <a href="https://www.linkedin.com/in/ashlyn-opgrande/" class="navbar-brand mx-auto" id="footer_links">
                    <img src="{{ url_for('static', filename='images/linkedin.png') }}" width="25" height="25" alt="">
                </a>
                <a href="https://www.instagram.com/ashes_to_ashlynrose_art/" class="navbar-brand mx-auto" id="footer_links">
                    <img src="{{ url_for('static', filename='images/instagram.png') }}" width="25" height="25" alt="">
                </a>
                <a href="https://github.com/ashlyno" class="navbar-brand mx-auto" id="footer_links">
                    <img src="{{ url_for('static', filename='images/tableau_icon.png') }}" width="25" height="25" alt="">
                </a>
                <a href="https://public.tableau.com/profile/ashlyn.opgrande#!/" class="navbar-brand mx-auto" id="footer_links">
                    <img src="{{ url_for('static', filename='images/GitHub-Mark-32px.png') }}" width="25" height="25" alt="">
                </a>
            </div>
        </nav>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <script src="app/portfolio.js"></script>

    </body>

</html>