/* Universal */

html,body {
  height: 100%;
  width: 100%;
}

.container-fluid {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.row {
  min-height: 100%;
  overflow-y: scroll;
  padding: 25px;
}

.container {
  height: 100%;
}

#about-img {
  padding: 25px;
}

.img-fluid:hover {
  opacity: .7;
  transition-timing-function: ease-in;
}

h2 {
  font-size: 28px;
  font-family: 'Cormorant Garamond', serif;
}

h3 {
  font-size: 17px;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

h5,input,textarea {
  font-size: 17px;
  font-family: 'Cormorant Garamond', serif;
}

/* Header */

#header {
  padding: 2px;
  border-bottom: 1px solid rgb(189, 189, 189);
  background-color: #fff;
  margin: 0;
}

.navbar-brand {
    color: black;
    font-family: 'Prata', sans-serif;
    font-size: 2.5vw;
}

.navbar-brand:hover {
    color: grey;
}

.nav-link {
    color: #333333;
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
}

.nav-link:hover {
    color: #a9a9a9;
}

.nav-link:active {
    border-bottom: 3px solid black;
}

.nav-item {
  padding: 10px;
}

/* Footer */

#footer {
    padding: 1px;
    border-top: 1px solid #333;
    background-color: white;
}

#footer_links {
    padding: 5px;
}

/* Artwork */

.artwork-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.artwork-col {
  flex: 25%;
  max-width: 25%;
  padding: 0 10px;
}

.artwork-col img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}

/* Mobile Artwork */

@media screen and (max-width: 48em){
  .artwork-col {
    flex: 100%;
    max-width: 100%;
    padding: 0 10px;
  }
}

/* Contact */

.contactForm {
  width: 100%;
  height: 85vh;
}

form {
  height:100%;
}

.form-row {
  height: 100%;
}

.form-group {
  width: 100%;
}

.input_submit {
  background-color: transparent;
  border: transparent;
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
  padding-right: 20px;
}

.input_submit:hover {
  opacity: .7;
  transition-timing-function: ease-in;
}

/* Mobile Universal */

@media screen and (max-width: 48em){
  #center {
      text-align: center;
  }
}